/agregar_historial.py
/cast.py
/clase_py.py
/condiciones1.py
/crear_archivo.py
/crear_historial.py
/funciones1.py
/historial.txt
/leccion1.py
/leer_archivo.py
/operadore.py
/primer_script.py
/print.py
/saludo.py
/variables.py